@model BlogCore.Models.PostModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Blog Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron.css" rel="stylesheet" />
    <link href="~/css/blog.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar-expand-md navbar-dark fixed-top bg-dark">
        <nav class="navbar">
            <a class="navbar-brand text-white" href="#">TechMarDay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-white" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        @*<div class="jumbotron banner text-white">
                <div class="container">
                    <h1 class="display-3">Technology, marketing</h1>
                    <p>We provide the marketing and technology solutions. We will help you win, your success is my success and my success is your success</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
                </div>
            </div>*@

        <div class="container">
            <div class="row">
                <div class="col-md-10 blog-main">
                    <h1>Details</h1>

                    <div>
                        <h4>PostModel</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Content)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Content)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Image)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Image)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Category)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Category.Id)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LastModificationTime)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LastModificationTime)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>

                </div><!-- /.blog-main -->

                @await Component.InvokeAsync("MenuRight")<!-- /.blog-sidebar -->

            </div><!-- /.row -->
        </div>
    </main><!-- /.container -->

    <footer class="blog-footer">
        <p>2020</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    @*@RenderSection("Scripts", required: false)*@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @RenderSection("Scripts", required: false)
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
