@model BlogCore.Models.Pagination<CategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.TotalRecords > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].CategoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].LastModificationTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img class="img-thumbnail img-thumbnail-custom" width="50" height="50" src="@item.Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTypeDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModificationTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
</div>
}